@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Hind&display=swap');

:root {
    --primary-color: #613dc1; /* Iris */
    --secondary-color: #97dffc; /* Pale Azure */
    --accent1-color: #f58f29; /* Dark Orange (web) */
    --accent2-color: #466995; /* Lapis Lazuli */

    --heading-font: "Black Ops One", serif;
    --paragraph-font: hind, san-serif;

    --nav-background-color: #f58f29; /* Dark Orange (web) */
    --nav-link-color: #4e148c; /* Indigo */
    --nav-hover-link-color: #2c0735; /* Russian Violet */
    --nav-hover-background-color: #97dffc; /* Pale Azure */
}

body {
    font-family: var(--paragraph-font);
    width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6, legend {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: center;
    background-color: azure;
    margin-bottom: 20px;
}

header img {
    width: 200px;
    height: auto;
}

nav {
    padding: 1rem;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    background-color: var(--nav-background-color);
    padding: 1rem;
    font-size: larger;
    border: 1px solid #4464ad;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

footer img {
    width: 50px;
    padding: 5px;
}

.hero {
    position: relative;
}

.hero img {
    max-width: 100%;
}

.background {
    padding-top: 10px;
    padding-bottom: 10px;
}

.rafting {
    position: absolute;
    top: 50px;
    background-color:aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    right: 0;
    left: 0;
    text-align: center;
    opacity: 0.72;
}

article {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    background: var(--secondary-color);
	border: 1px groove aliceblue;
	padding: 1rem;
	opacity: 0.85;
}

article img {
    float: right;
    width: 200px;
    height: auto;
    padding: 8px;
}

.history-section {
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 4em 1fr;
    background-color: #a4b0f5;
    column-gap: 5px;
    row-gap: 5px;
}

.history-section h2 {
    grid-area: 1 / 1 / 2 / 3;
    justify-content: center;
    align-self: center;
    background-color:aliceblue;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

.history-section img {
    grid-area: 2 / 1 / 3 / 2;
    width: 400px;
    height: auto;
    align-self: center;
    align-items: center;
    padding: 20px;
}

.right-p {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    align-items: center;
}

.pictures-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 4em 1fr;
    background-color: aliceblue;
    margin-top: 20px;
    max-width: 960px;
    padding-left: 25px;
}

.pictures-section h2 {
    grid-area: 1 / 1 / 2 / 6;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

.pictures-section img {
    width: 150px;
    height: auto;
    padding: 0;
}

figure {
    margin: 2px;
}

.image-1 {
    grid-area: 2 / 1 / 3 / 2;
}

.image-2 {
    grid-area: 2 / 2 / 3 / 3;
}

.image-3 {
    grid-area: 2 / 3 / 3 / 4;
}

.image-4 {
    grid-area: 2 / 4 / 3 / 5;
}

.image-5 {
    grid-area: 2 / 5 / 3 / 6;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

footer p {
    justify-content: center;
    align-self: center;
    padding: 15px;
}

footer nav {
    justify-content: flex-end;
    align-self: center;
    padding: 15px;
}

/* contact us */
.company-information {
    background-color:aliceblue;
    padding: 10px;
    margin-bottom: 20px;
}

.company-information p {
    padding-left: 35px;
    font-size: 1.1em;
}

iframe {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.5px solid var(--accent2-color);
}

.company-information h1 {
    padding-left: 5%;
}

.employees {
    display: grid;
    grid-template-columns: 480px 480px;
    grid-template-rows: 3em;
    width: 960px;
    background-color: #cdedf6;
    padding-top: 20px;
}

.employees h2 {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center; 
}

.employee-1 img {
    width: 300px;
    height: auto;
    padding-top: 50px;
    padding-left: 50px;
}

figure p {
    text-align: center;
    font-size: 1.1em;
    font-family: var(--heading-font);
    font-weight: lighter;
}

.employee-2 img {
    width: 400px;
    height: auto;
    padding-top: 100px;
}

.employee-3 img, .employee-4 img {
    width: 400px;
    height: auto;
}

form {
    background-color: #eff8e2;
    margin-top: 20px;
    padding: 10px;
}

textarea {
    display: block;
    width: 890px;
}

label {
    font-family: var(--heading-font);
}

input[type="checkbox"], input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

input, textarea {
    padding: 10px;
    font-size: 1.1rem;
}

button {
    border: 1px solid black;
    padding: 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 1.3em;
    background-color: #cecfc7;
    border-radius: 10px;
}

button:hover {
    background-color: #23022e;
    color: white;
    border: 1px solid #23022e;
}

/* trips */
.call button, .call h3 {
    display: inline;
    margin-bottom: 30px;
}

.call h3 {
    padding: 50px;
    text-align: center;
}

.call button:hover a {
    color: white;
}

.popular {
    background-color:#eff8e2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em repeat(2, 380px 15em);
}

.popular h1 {
    text-align: center;
    padding-top: 20px;
    grid-column: span 2;
}

.popular img {
    width: 400px;
    height: auto;
    margin: auto;
    display: inline;
    position: relative;
}

.popular img:hover {
    width: 450px;
    height: auto;
    transition: 0.5s ease;
}


.trip-1 {
    grid-area: 2 / 1 / 3 / 2;
}

.text-1 {
    grid-area: 3 / 1 / 4 / 2;
    padding: 0 50px;
}

.trip-2 {
    grid-area: 2 / 2 / 3 / 3;
}

.text-2 {
    grid-area: 3 / 2 / 4 / 3;
    padding: 0 50px;
}

.trip-3 {
    grid-area: 4 / 1 / 5 / 2;
}

.text-3 {
    grid-area: 5 / 1 / 6 / 2;
    padding: 0 50px;
    padding-bottom: 10px;
}

.trip-4 {
    grid-area: 4 / 2 / 5 / 3;   
}

.text-4 {
    grid-area: 5 / 2 / 6 / 3;
    padding: 0 50px;
    padding-bottom: 10px;
}

.popular h3, .popular p {
    text-align: center;
    font-size: 1.2em;
}

.popular h3 {
    color: #613dc1;
}

.other-trips {
    background-color: beige;
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 10px;
}

.other-trips h1 {
    text-align: center;
}

.image-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.image-container img {
    margin: 10px;
}

.other-trips p, .other-trips h3, .other-trips h4 {
    text-align: center;
}

.other-trips p {
    font-size: 1.2em;
}