@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Hind&display=swap');

:root {
    --primary-color: #4464ad; /* True Blue */
    --secondary-color: #a4b0f5; /* Powder Blue */
    --accent1-color: #f58f29; /* Dark Orange (web) */
    --accent2-color: #466995; /* Lapis Lazuli */

    --heading-font: "Black Ops One", serif;
    --paragraph-font: hind, san-serif;

    --nav-background-color: #f58f29; /* Dark Orange (web) */
    --nav-link-color: #4e148c; /* Indigo */
    --nav-hover-link-color: #2c0735; /* Russian Violet */
    --nav-hover-background-color: #a4b0f5; /* Powder Blue */
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: center;
    background-color: azure;
    margin-bottom: 20px;
}

header img {
    width: 200px;
    height: auto;
}

nav {
    padding: 1rem;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    background-color: var(--nav-background-color);
    padding: 1rem;
    font-size: larger;
    border: 1px solid #4464ad;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

footer img {
    width: 50px;
    padding: 5px;
}

.hero div {
    position: relative;
}

.background {
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    position: absolute;
    top: 350px;
    background-color:aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15%;
    padding-right: 2%;
    opacity: 0.72;
}

article {
    position: absolute;
    top: 500px;
    left: 51px;
    background: var(--secondary-color);
	border: 1px groove aliceblue;
	padding: 1rem;
	opacity: 0.85;
}

article img {
    float: right;
    width: 200px;
    height: auto;
    padding: 8px;
}

.history-section {
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 4em 1fr;
    background-color: #a4b0f5;
    column-gap: 5px;
    row-gap: 5px;
}

.history-section h2 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color:aliceblue;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 42%;
    padding-right: 2%;
}

.history-section img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 400px;
    height: auto;
    align-self: center;
    align-items: center;
    padding: 20px;
}

.right-p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    align-items: center;
}

.pictures-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 4em 1fr;
    background-color: aliceblue;
    margin-top: 20px;
}

.pictures-section h2 {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 40%;
    padding-right: 2%;
}

.pictures-section img {
    width: 200px;
    height: auto;
    padding: 0;
}

.image-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.image-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.image-3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.image-4 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.image-5 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

footer p {
    justify-content: center;
    align-self: center;
    padding: 15px;
}

footer nav {
    justify-content: flex-end;
    align-self: center;
    padding: 15px;
}