nav {
    background-color: #4a4e69;
    padding: 10px
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: #22223b;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #c9ada7;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #4a4e69;
    color:#f2e9e4;
    text-align: center;
}

aisde img {
    width: 200px;
    height: auto;
    border: 1px solid #f2e9e4;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}